<!DOCTYPE html>
<html lang="en">
<head>
  <title>My first ToDo on Vue 3</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="todoapp">
    <h2>ToDo List</h2>
      <div v-on:selectfilter="changeType" >
        <todoform :todos="todos"
                  class="todoform"
        ></todoform>
      </div>
      <div>
        <todoitem v-for="(todo, i) in freshTodos"
                  :todo="todo"
                  :index="startIndex + i + 1"
                  :key="todo.id"
                  v-on:tododelete="remove"
                  v-on:todoupdate="update"
                  :class="{done: todo.done}"
        ></todoitem>
      </div>
      <todofilter v-if="todos.length > 0"
      
      ></todofilter>
      <template v-if="todos.length > 0">
        <div class="pagination">
          <p>Page {{ page }}.</p>
          <p>Records {{ startIndex + 1 }} - {{ endIndex }} from {{ todos.length }}.</p>
          <br>
          <button
                  v-if="page > 1"
                  v-on:click="page = page - 1"
          >
            Previous page
          </button>
          <button 
                  v-if="hasNextPage"
                  v-on:click="page = page + 1"
          >
            Next page
          </button>
        </div>
      </template>
  </div>
  <script defer="true" src="./run.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
